.jumbotron {
    background-color: black;
    margin-top: 10px;
    height: 350px;
}

h2 {
    position: relative;
    text-align: center;
    color: skyblue;
}

p {
    position: relative;
    text-align: center;
    color: red;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}