.jumbotron {
    background-size: contain;
    background-image: url("guardians-logo.jpg");
    background-color: black;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    position: relative;
    text-align: center;
    margin-top: 180px;
    color: skyblue;
    height: 40px;
}

.matches {
    position: absolute;
    text-align: left;
    color: red;
    top: 220px;
    font-size: 30px
}

.guesses {
    position: absolute;
    text-align: left;
    color: red;
    top: 255px;
    font-size: 30px;
}
